# Caddyfile

# Produção: domínio principal com HTTPS automático
lambarinatela.com.br {
    reverse_proxy app:3000
}

# Redirecionar www para domínio principal
www.lambarinatela.com.br {
    redir https://lambarinatela.com.br{uri} permanent
}

# Ambiente local para desenvolvimento
:80 {
    reverse_proxy app:3000
}